{% extends "layout/master.html" %}

{% load humanize %}

{% load i18n %}

{% block home_content %}
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2">
            <!-- Card Section -->
            <div class="max-w-full px-4 pt-14 pb-5 sm:px-6 mx-auto">
                <!-- Grid -->
                <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4 sm:gap-6">
                    <!-- Card -->
                    <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                        <div class="p-4 md:p-5 flex gap-x-4">
                            <div class="flex-shrink-0 flex justify-center items-center size-[46px] bg-gray-100 rounded-lg dark:bg-gray-800">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     class="flex-shrink-0 size-5 text-gray-600 dark:text-gray-400"
                                     viewBox="0 0 16 16">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                                </svg>
                            </div>
 
                            <div class="grow">
                                <div class="flex items-center gap-x-2">
                                    <p class="text-xs uppercase tracking-wide text-gray-500">
                                        {% translate "Total Employees" %}
                                    </p>
                                    <div class="hs-tooltip">
                                        <div class="hs-tooltip-toggle">
 
                                            <svg class="flex-shrink-0 size-4 text-gray-500"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 width="24"
                                                 height="24"
                                                 viewBox="0 0 24 24"
                                                 fill="none"
                                                 stroke="currentColor"
                                                 stroke-width="2"
                                                 stroke-linecap="round"
                                                 stroke-linejoin="round">
                                                <circle cx="12" cy="12" r="10" />
                                                <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3" />
                                                <path d="M12 17h.01" />
                                            </svg>
                                            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded shadow-sm dark:bg-slate-700"
                                                  role="tooltip">
                                                The number of daily users
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-1 flex items-center gap-x-2">
                                    <h3 class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-gray-200">
                                        {{ total_employees|intcomma }}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->
 
                    <!-- Card -->
                    <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                        <div class="p-4 md:p-5 flex gap-x-4">
                            <div class="flex-shrink-0 flex justify-center items-center size-[46px] bg-gray-100 rounded-lg dark:bg-gray-800">
                                <i class="fa-solid fa-square-poll-vertical flex-shrink-0 size-5 text-gray-600 dark:text-gray-400"></i>
                            </div>
 
                            <div class="grow">
                                <div class="flex items-center gap-x-2">
                                    <p class="text-xs uppercase tracking-wide text-gray-500">
                                        {% translate "Total surveys" %}
                                    </p>
                                </div>
                                <div class="mt-1 flex items-center gap-x-2">
                                    <h3 class="text-xl font-medium text-gray-800 dark:text-gray-200">
                                        {{ total_surveys|intcomma }}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->
 
                    <!-- Card -->
                    <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                        <div class="p-4 md:p-5 flex gap-x-4">
                            <div class="flex-shrink-0 flex justify-center items-center size-[46px] bg-gray-100 rounded-lg dark:bg-gray-800">
                                <i class="fa-solid fa-envelope flex-shrink-0 size-5 text-gray-600 dark:text-gray-400"></i>
                            </div>
 
                            <div class="grow">
                                <div class="flex items-center gap-x-2">
                                    <p class="text-xs uppercase tracking-wide text-gray-500">
                                        {% translate "Total Messages" %}
                                    </p>
                                </div>
                                <div class="mt-1 flex items-center gap-x-2">
                                    <h3 class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-gray-200">
                                        {{ total_contact_messages|intcomma }}
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Card -->
                </div>
                <!-- End Grid -->
            </div>
            <!-- End Card Section -->
            <section class="max-w-full px-4 sm:px-6 mx-auto">
                <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
                    <div class="p-4 md:p-5">
                        <h3 class="text-lg font-bold text-gray-800 dark:text-white">
                            {% translate "Quarterly Progress" %}
                        </h3>
                        <div>
                            <canvas id="quarterly-progress"></canvas>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div>
            <div class="max-w-full px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
                {# Start Manager Card #}
                <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl p-4 md:p-5 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400">
                    <div class="grid grid-cols-3 gap-4">
                        <div class="text-center">
                            <span class="inline-flex justify-center items-center size-[46px] rounded-full border border-blue-600 text-blue-600 dark:border-blue-500 dark:text-blue-500">
                                <i class="fa-solid fa-user flex-shrink-0 size-5"></i>
                            </span>
 
                        </div>
                        <div class="col-span-2">
                            <h4 class="text-xl text-left dark:text-white">
                                {{ request.user.fullname }}
                            </h4>
                            <div class="hs-tooltip inline-block">
                                <button type="button" class="hs-tooltip-toggle">
                                    <small class="italic text-gray-400">
                                        2024/10/15 23:05:18
                                    </small>
                                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                                          role="tooltip">{% translate "Date joined" %}</span>
                                </button>
                            </div>
 
                        </div>
                    </div>
                </div>
                {# End Manager Card #}
 
                {# Start Start Chart Card #}
                <section class="my-3">
                    <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
                        <div class="p-4 md:p-5">
                            <h3 class="text-lg font-bold text-gray-800 dark:text-white text-center">
                                {% translate "Employees Performance" %}
                            </h3>
                            <div class="my-3 px-11" style="position: relative; height:28vh;">
                                <canvas id="employee-performance"></canvas>
                            </div>
                        </div>
                    </div>
                </section>
                {# End Start Chart Card #}
 
                {# Start Start Chart Card #}
                <section class="my-3">
                    <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
                        <div class="p-4 md:p-5">
                            <h3 class="text-1xl font-bold text-gray-800 dark:text-white text-center">
                                {% translate "Department with the Highest Burnout Rate" %}
                            </h3>
                            <div class="my-3 px-11" style="position: relative; height:30vh;">
                                <canvas id="department-chart"></canvas>
                            </div>
                        </div>
                    </div>
                </section>
                {# End Start Chart Card #}
 
            </div>
 
        </div>
    </div>
{% endblock home_content %}
