{% extends "layout/master.html" %}

{% load i18n %}

{% block home_content %}
    <div class="max-w-[85rem] px-4 py-5 sm:px-6 lg:px-8 mx-auto">
        <!-- Page Heading -->
        <header>
            <h1 class="block text-3xl font-bold text-gray-800 sm:text-3xl dark:text-white">
                {% translate "Your Well-Being Matters: A Tech Community Check-In" %}
            </h1>
            <p class="mt-2 italic text-[16px] text-gray-800 dark:text-gray-400">
                {% translate "In the rapid tech industry, mental well-being is often sidelined. Our survey focuses on your mental health, providing insights and recommendations for your professional path. Together, let us prioritize mental health. " %}
            </p>
        </header>
        <!-- End Page Heading -->
        <section id="step-section" class="my-5">
            <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl p-4 md:p-5 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400">
                <!-- Stepper -->
                <div data-hs-stepper>
                    <!-- Stepper Nav -->
                    <ul class="relative flex flex-row gap-x-2">
                        <li class="flex items-center gap-x-2 shrink basis-0 flex-1 group"
                            data-hs-stepper-nav-item='{ "index": 1 }'>
                            <span class="min-w-7 min-h-7 group inline-flex items-center text-xs align-middle">
                                <span class="size-7 flex justify-center items-center flex-shrink-0 bg-gray-100 font-medium text-gray-800 rounded-full group-focus:bg-gray-200 dark:bg-gray-700 dark:text-white dark:group-focus:bg-gray-600 hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600">
                                    <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">1</span>
                                    <svg class="hidden flex-shrink-0 size-3 hs-stepper-success:block"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="24"
                                         height="24"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="currentColor"
                                         stroke-width="3"
                                         stroke-linecap="round"
                                         stroke-linejoin="round">
                                        <polyline points="20 6 9 17 4 12" />
                                    </svg>
                                </span>
                                <span class="ms-2 text-sm font-medium text-gray-800">
                                    {% translate "Complete the Survey" %}
                                </span>
                            </span>
                            <div class="w-full h-px flex-1 bg-gray-200 group-last:hidden hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600">
                            </div>
                        </li>
 
                        <li class="flex items-center gap-x-2 shrink basis-0 flex-1 group"
                            data-hs-stepper-nav-item='{ "index": 2 }'>
                            <span class="min-w-7 min-h-7 group inline-flex items-center text-xs align-middle">
                                <span class="size-7 flex justify-center items-center flex-shrink-0 bg-gray-100 font-medium text-gray-800 rounded-full group-focus:bg-gray-200 dark:bg-gray-700 dark:text-white dark:group-focus:bg-gray-600 hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600">
                                    <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">2</span>
                                    <svg class="hidden flex-shrink-0 size-3 hs-stepper-success:block"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="24"
                                         height="24"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="currentColor"
                                         stroke-width="3"
                                         stroke-linecap="round"
                                         stroke-linejoin="round">
                                        <polyline points="20 6 9 17 4 12" />
                                    </svg>
                                </span>
                                <span class="ms-2 text-sm font-medium text-gray-800">
                                    {% translate "Receive Your Classification" %}
                                </span>
                            </span>
                            <div class="w-full h-px flex-1 bg-gray-200 group-last:hidden hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600">
                            </div>
                        </li>
 
                        <li class="flex items-center gap-x-2 shrink basis-0 flex-1 group"
                            data-hs-stepper-nav-item='{ "index": 3 }'>
                            <span class="min-w-7 min-h-7 group inline-flex items-center text-xs align-middle">
                                <span class="size-7 flex justify-center items-center flex-shrink-0 bg-gray-100 font-medium text-gray-800 rounded-full group-focus:bg-gray-200 dark:bg-gray-700 dark:text-white dark:group-focus:bg-gray-600 hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600">
                                    <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">3</span>
                                    <svg class="hidden flex-shrink-0 size-3 hs-stepper-success:block"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="24"
                                         height="24"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="currentColor"
                                         stroke-width="3"
                                         stroke-linecap="round"
                                         stroke-linejoin="round">
                                        <polyline points="20 6 9 17 4 12" />
                                    </svg>
                                </span>
                                <span class="ms-2 text-sm font-medium text-gray-800">
                                    {% translate "Explore Recommendations" %}
                                </span>
                            </span>
                            <div class="w-full h-px flex-1 bg-gray-200 group-last:hidden hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600">
                            </div>
                        </li>
 
                        <li class="flex items-center gap-x-2 shrink basis-0 flex-1 group"
                            data-hs-stepper-nav-item='{ "index": 4 }'>
                            <span class="min-w-7 min-h-7 group inline-flex items-center text-xs align-middle">
                                <span class="size-7 flex justify-center items-center flex-shrink-0 bg-gray-100 font-medium text-gray-800 rounded-full group-focus:bg-gray-200 dark:bg-gray-700 dark:text-white dark:group-focus:bg-gray-600 hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600">
                                    <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">4</span>
                                    <svg class="hidden flex-shrink-0 size-3 hs-stepper-success:block"
                                         xmlns="http://www.w3.org/2000/svg"
                                         width="24"
                                         height="24"
                                         viewBox="0 0 24 24"
                                         fill="none"
                                         stroke="currentColor"
                                         stroke-width="3"
                                         stroke-linecap="round"
                                         stroke-linejoin="round">
                                        <polyline points="20 6 9 17 4 12" />
                                    </svg>
                                </span>
                                <span class="ms-2 text-sm font-medium text-gray-800">
                                    {% translate "History" %}
                                </span>
                            </span>
                            <div class="w-full h-px flex-1 bg-gray-200 group-last:hidden hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600">
                            </div>
                        </li>
                        <!-- End Item -->
                    </ul>
                    <!-- End Stepper Nav -->
 
                    <!-- Stepper Content -->
                    <div class="mt-5 sm:mt-8">
                        <!-- First Contnet -->
                        <div data-hs-stepper-content-item='{ "index": 1 }'>
                            <div class="p-4 h-48 bg-gray-50 flex justify-center items-center border border-dashed border-gray-200 rounded-xl">
                                <h3 class="text-gray-500">
                                    First content
                                </h3>
                            </div>
                        </div>
                        <!-- End First Contnet -->
 
                        <!-- First Contnet -->
                        <div data-hs-stepper-content-item='{ "index": 2 }' style="display: none;">
                            <div class="p-4 h-48 bg-gray-50 flex justify-center items-center border border-dashed border-gray-200 rounded-xl">
                                <h3 class="text-gray-500">
                                    Second content
                                </h3>
                            </div>
                        </div>
                        <!-- End First Contnet -->
 
                        <!-- First Contnet -->
                        <div data-hs-stepper-content-item='{ "index": 3 }' style="display: none;">
                            <div class="p-4 h-48 bg-gray-50 flex justify-center items-center border border-dashed border-gray-200 rounded-xl">
                                <h3 class="text-gray-500">
                                    Third content
                                </h3>
                            </div>
                        </div>
                        <!-- End First Contnet -->
                        <!-- First Contnet -->
                        <div data-hs-stepper-content-item='{ "index": 4 }' style="display: none;">
                            <div class="p-4 h-48 bg-gray-50 border border-dashed border-gray-200 rounded-xl">
                                <h3 class="text-gray-600 text-3xl text-center">
                                    {% translate "Your Well-being Journey" %}
                                </h3>
                                <p class="text-center italic text-sm">
                                    {% translate "Welcome to your personal well-being journey timeline. Here, we've captured your progress, and our recommendations from each assessment. Reflect on your journey, recognize your growth, and identify areas for continued focus. Together, let's strive for balance, resilience, and mental well-being." %}
                                </p>
                                <div>
 
                                </div>
                            </div>
                        </div>
                        <!-- End First Contnet -->
 
                        <!-- Final Contnet -->
                        <div data-hs-stepper-content-item='{ "isFinal": true }'
                             style="display: none">
                            <div class="p-4 h-48 bg-gray-50 flex justify-center items-center border border-dashed border-gray-200 rounded-xl">
                                <h3 class="text-gray-500">
                                    Final content
                                </h3>
                            </div>
                        </div>
                        <!-- End Final Contnet -->
 
                        <!-- Button Group -->
                        <div class="mt-5 flex justify-between items-center gap-x-2">
                            <button type="button"
                                    class="py-2 px-3 inline-flex items-center gap-x-1 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                                    data-hs-stepper-back-btn>
                                <svg class="flex-shrink-0 size-4"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     viewBox="0 0 24 24"
                                     fill="none"
                                     stroke="currentColor"
                                     stroke-width="2"
                                     stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path d="m15 18-6-6 6-6" />
                                </svg>
                                Back
                            </button>
                            <button type="button"
                                    class="py-2 px-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                                    data-hs-stepper-next-btn>
                                {% translate "Next" %}
                                <svg class="flex-shrink-0 size-4"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     viewBox="0 0 24 24"
                                     fill="none"
                                     stroke="currentColor"
                                     stroke-width="2"
                                     stroke-linecap="round"
                                     stroke-linejoin="round">
                                    <path d="m9 18 6-6-6-6" />
                                </svg>
                            </button>
                            <a href="{% url 'home:survey_form' %}"
                               class="py-2 px-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                               data-hs-stepper-finish-btn
                               style="display: none">
                                {% translate "Start Survey" %}
                            </a>
                            <button type="reset"
                                    class="py-2 px-3 inline-flex items-center gap-x-1 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                                    data-hs-stepper-reset-btn
                                    style="display: none">
                                {% translate "Reset" %}
                            </button>
                        </div>
                        <!-- End Button Group -->
                    </div>
                    <!-- End Stepper Content -->
                </div>
                <!-- End Stepper -->
            </div>
 
        </section>
 
        <section>
            <!-- Testimonials -->
            <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
                <!-- Grid -->
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                    <!-- Card -->
                    <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700">
                        <div class="flex-auto p-4 md:p-6">
 
                            <p class="text-gray-800 dark:text-white">
                                <em>
                                    {% translate "The Survey made me more aware of my mental state and provided practical steps to manage stress at work. " %}
                                </em>
                            </p>
                        </div>
 
                        <div class="p-4 rounded-b-xl md:px-6">
                            <h3 class="text-sm font-semibold text-gray-800 dark:text-gray-200">
                                Amenah
                            </h3>
                            <p class="text-sm text-gray-500">
                                Network Engineer
                            </p>
                        </div>
                    </div>
                    <!-- End Card -->
                    <!-- Card -->
                    <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700">
                        <div class="flex-auto p-4 md:p-6">

                            <p class="text-gray-800 dark:text-white">
                                <em>
                                    {% translate "This survey helped me realize the importance of mental health in my daily work routine" %}
                                </em>
                            </p>
                        </div>

                        <div class="p-4 rounded-b-xl md:px-6">
                            <h3 class="text-sm font-semibold text-gray-800 dark:text-gray-200">
                                Mizna
                            </h3>
                            <p class="text-sm text-gray-500">
                                Software Developer
                            </p>
                        </div>
                    </div>
                    <!-- End Card -->
                    <!-- Card -->
                    <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700">
                        <div class="flex-auto p-4 md:p-6">

                            <p class="text-gray-800 dark:text-white">
                                <em>
                                    {% translate "Understanding my stress levels was the first step in making meaningful changes. " %}
                                </em>
                            </p>
                        </div>

                        <div class="p-4 rounded-b-xl md:px-6">
                            <h3 class="text-sm font-semibold text-gray-800 dark:text-gray-200">
                                Wijdan
                            </h3>
                            <p class="text-sm text-gray-500">
                                IT Consultant
                            </p>
                        </div>
                    </div>
                    <!-- End Card -->
                </div>
                <!-- End Grid -->
            </div>
            <!-- End Testimonials -->
        </section>
    </div>

{% endblock home_content %}
